PORT=40353
PUBLIC_BASE_URL=http://localhost:40353

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario_smtp
SMTP_PASS=clave_smtp
FROM_EMAIL=reservas@tudominio.com
ADMIN_EMAIL=contacto@gestour.online

SUPPORT_EMAIL=pagos@tudominio.com
SUPPORT_WHATSAPP=+50670000000
PAYMENT_SINPE=+50688887777
PAYMENT_OWNER=Dijes Tours CR S.A.
PAYMENT_BANK=Banco Nacional
PAYMENT_IBAN=CR23015108410026012345
